.container {
  position: absolute;
  top: var(--header-height);
  right: 0;
  height: calc(100vh - var(--header-height));
  width: 480px;
  transform: translateX(100%);
  z-index: 14;
  background-color: #202124;
  transition: transform 300ms cubic-bezier(0.175, 0.885, 0.32, 1.2);
  padding: 40px;
  display: flex;
  flex-direction: column;
}

.open {
  transform: translateX(0);
}

.titleBar {
  color: var(--primary-text-color);
  padding: 0px 8px 24px 8px;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid transparent;
}

.title {
  font-size: 20px;
  margin: 0;
}

.closeButton {
  width: 30px;
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
}

.closeIcon {
  font-size: 24px;
}

.activity {
  padding: 18px 24px;
  border-radius: 16px;
  display: flex;
  border: 2px solid #3c4043;
  align-self: stretch;
  align-items: center;
}

.activityLabel {
  flex: 1;
}

.activityItem {
  display: flex;
  gap: 4px;
  padding: 0 8px;
  align-items: center;
}

.arrow {
  font-size: 18px;
  color: var(--Google-Type-Grey-800);
  transition: color 300ms ease-in-out;
}

.audioIn {
  margin-left: -8px;
}

.arrowInActive {
  color: var(--Google-Light-Red-300);
}

.arrowOutActive {
  color: var(--Google-Light-Green-300);
}

.logger {
  margin-top: 16px;
  height: 0;
  flex: 1;
  padding-bottom: 30px;
  overflow-y: auto;
}
